
<div class="card text-white bg-secondary mb-3" style="max-width: 24rem;">

  <div class="card-header"><%= @task.title %></div>

    <div class="card-body">
      <h5 class="card-title"><%= @task.details %></h5>
      <p class="card-text">
        <% if @task.completed %>
          <i class="far fa-check-square"></i>This Task is completed
        <% else %>
          <i class="far fa-square"></i> You haven't completed this task!
        <% end %>
      </p>
    </div>

    <div class="d-flex justify-content-around">
      <%= link_to tasks_path do %>
      <i class="fas fa-undo">main page</i>
      <% end %>

      <%= link_to edit_task_path do %>
      <i class="far fa-edit">Edit Task</i>
      <% end %>
    </div>

</div>
